.services {
  padding: 20px 0 40px;
  line-height: 1.5;

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 15px;
    color: $red;
  }

  &__desc {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  &__link {
    color: blue;
    transition: all 0.5s;

    &:hover {
      color: $red;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;

    p {
      margin-bottom: 25px;
    }
  }

  &__blockquote {
    padding: 0 40px;
    margin-bottom: 25px;
    font-style: italic;
  }

  &__form {
    max-width: 100%;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0 5px;
    margin-bottom: 15px;

    @include r($md) {
      padding: 10px 0;
    }

    @include r($sm) {
      display: block;
    }
  }

  &__lable {
    display: block;
    margin: 0 32px 15px 26px;

    @include r($md) {
      padding: 12px 0;
      margin: 0 32px 0 26px;
    }

    @include r($sm) {
      margin: 0 0 0 26px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    padding-left: 26px;

    &:checked+.services__checkbox {
      background-image: url("../images/icon/tick.svg");
      @include bg(center, 12px);
    }
  }

  &__checkbox {
    margin-left: -26px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $red;
    border-radius: 4px;
  }

  &__btn {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
}