body {
  background-color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $default;

}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  display: flex;

  &__content {
    flex-grow: 1;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.section {
  margin: 0 40px;
}

.title {
  font-weight: 700;
  font-size: 24px;
}

.button {
  background-color: #F4F4F4;
  border-radius: 4px;
  width: 100%;
  color: #2C2C2C;
  padding: 13px;
}

.footer {
  margin-top: auto;
}