body {
  background-color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $default;

  &.lock{
    overflow-y: hidden;
    position: relative;

    &::before {
      @include pseudo;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($default, 0.6);
      z-index: 50;
    }
  }

}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  overflow-x: hidden;

  &__wrap {
    flex-grow: 1;
    min-width: 0;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.container {
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;

  @include r($lg) {
    padding: 0 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
}

.head-title{
  font-weight: 700;
  font-size: 32px;

  @include r($md){
    font-size: 28px;
  }

  @include r($sm){
    font-size: 26px;
  }
}

.button {
  background-color: #F4F4F4;
  border-radius: 4px;
  width: 100%;
  color: #2C2C2C;
  padding: 13px;

  @include r($sm){
    font-size: 17px;
    padding: 16px;
  }
}

.footer {
  margin-top: auto;
}