@import "reset";
@import "mixins";
@import "fonts";
@import "vars";
@import "libs";
@import "global";

.sidebar {
  width: 200px;
  flex-shrink: 0;
  background-color: #f7f7f9;
  padding: 30px 0;

  &__logo {
    display: block;
    padding: 0 25px;
    margin-bottom: 40px;
  }

  &__menu {
    margin-bottom: 290px;
  }

  &__social {
    padding: 0 25px;
    display: flex;
  }

  &__social-item {
    margin-right: 8px;
  }

  &__social-link {
    display: block;
    width: 32px;
    height: 32px;
  }
}

.menu {
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    padding: 8px 25px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    transition: all 0.5s;

    &::before {
      @include pseudo;
      width: 3px;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      transition: all 0.5s;
    }

    &:hover {
      color: #858594;

      &::before {
        background-color: $red;
      }
    }

    &:focus,
    &:active {
      &::before {
        background-color: $gray;
      }
    }
  }
}

.info {
  position: relative;
  overflow: hidden;

  &__btn {
    width: 100%;
    background-color: #f7f7f9;
    z-index: 2;

    span {
      position: relative;
      display: block;
      text-align: left;

      &::after {
        @include pseudo;
        width: 10px;
        height: 6px;
        top: 0;
        bottom: 0;
        right: 0;
        background-image: url("../images/icon/arrow.svg");
        @include bg;
        margin: auto 0;
        transition: all 0.5s;
      }
    }

    &.info__btn {
      &--active {
        span {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  &__items {
    padding: 12px 25px;
    position: absolute;
    transform: translateY(-150%);
    opacity: 0;
    transition: all 0.5s;

    &.info__items {
      &--active {
        opacity: 1;
        position: relative;
        transform: translateY(0);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    display: block;
    transition: all 0.5s;

    &:hover {
      color: $red;
    }

    &:focus,
    &:active {
      color: rgb(247, 164, 164);
    }
  }
}

.header {
  padding: 27px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__desc {
    font-size: 14px;
    font-weight: 400;
    max-width: 350px;
  }

  &__contact {
    max-width: 400px;
  }

  &__phone {
    display: block;
    text-align: right;
    font-weight: 700;
    color: $red;
    font-size: 22px;
    margin-bottom: 2px;
  }
}

.filtration {
  @include bg;
  padding: 62px 80px 152px;
  position: relative;

  &::after {
    @include pseudo;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(0deg, rgba($default, 0.37), rgba($default, 0.37));
  }

  &__slogan {
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: $white;
    position: relative;
    z-index: 1;
    @include line-clamp(2);
  }
}

.search {
  max-width: 1000px;
  width: 100%;
  margin: -110px auto 40px;
  padding: 24px;
  background-color: $white;
  box-shadow: 0px 9px 34px rgba(58, 68, 83, 0.24);
  border-radius: 6px;

  &__top {
    display: flex;
    margin-bottom: 24px;
  }

  &__lable {
    margin-right: 32px;
    margin-left: 26px;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    padding-left: 26px;

    &:checked+.search__checkbox {
      background-image: url("../images/icon/tick.svg");
      @include bg(center, 12px);
    }
  }

  &__checkbox {
    margin-left: -26px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $red;
    border-radius: 4px;
  }

  &__inner {
    display: flex;
    align-items: end;
    margin-bottom: 24px;
  }

  &__filters {
    display: flex;
    margin-right: 16px;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
  }

  &__select {
    display: block;

    .jq-selectbox select,
    .jq-select-multiple select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      opacity: 0;
    }

    .jq-selectbox__select {
      background-color: #f1f1f1;
      font-weight: 400;
      height: 32px;
      padding: 8px 16px;
      border-radius: 4px;
    }

    .jq-selectbox__trigger {
      border-left: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 100%;
    }

    .jq-selectbox__trigger-arrow {
      border: none;
      width: 10px;
      height: 6px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-image: url("../images/icon/arrow.svg");
      @include bg;
      position: absolute;
    }

    .jq-selectbox__dropdown {
      font-weight: 400;
      position: absolute;
      width: 100%;
      margin: 2px 0 0;
      border-radius: 4px;
      background-color: #f1f1f1;
    }

    .jq-selectbox__dropdown ul {
      max-height: 250px;
    }

    .jq-selectbox__dropdown li {
      padding: 6px 16px;
      white-space: pre-wrap;

      &:hover {
        color: #f7a4a4;
      }
    }

    .jq-selectbox__dropdown .selected {
      background-color: $red;
      color: $white;
    }

    &--technics {
      width: 232px;
    }

    &--company {
      width: 184px;
    }

    &--mark {
      width: 187px;
    }

    &--from {
      margin-right: 6px;
      width: 100px;
    }

    &--to {
      width: 100px;
    }
  }

  &__filter-inner {
    display: flex;
  }

  &__btn {
    padding: 7px 16px;
    background-color: $red;
    border-radius: 4px;
    color: $white;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__result {
    font-size: 13px;
    color: #808080;
  }

  &__result-num {
    margin-left: 6px;
    color: $red;
  }

  &__expanded {
    padding: 8px 40px 8px 16px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    position: relative;

    &::after {
      @include pseudo;
      width: 10px;
      height: 6px;
      top: 0;
      bottom: 0;
      right: 20px;
      background-image: url("../images/icon/arrow.svg");
      @include bg;
      margin: auto 0;
      transition: all 0.5s;
    }
  }
}

.popular {
  position: relative;
  margin-bottom: 70px;

  &__title {
    padding: 0 13px;
    margin-bottom: 15px;
  }

  &__filter {
    display: flex;
    align-items: center;
    padding: 0 13px;
  }

  &__item {
    margin-right: 24px;
  }

  &__btn {
    padding-left: 26px;
    position: relative;
    line-height: 1.4;
    margin-bottom: 24px;

    &::before {
      @include pseudo;
      width: 18px;
      height: 18px;
      left: 0;
      border: 1px solid #d3d3d3;
      box-shadow: inset 0 0 6px rgba($default, 0.1);
      border-radius: 50%;
    }

    &.mixitup-control-active {
      &::before {
        border: 4px solid $red;
      }
    }
  }
}

.catalog {
  margin-bottom: 8px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__article {
    padding: 16px 32px 16px 16px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 32px;
    object-fit: cover;
  }

  &__content {
    max-width: 100%;
    width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    margin-right: 50px;

    p {
      margin-bottom: 8px;
    }

    span {
      color: $gray;
      margin-right: 6px;
    }
  }

  &__left {
    margin-right: 50px;
  }

  &__price {
    text-align: right;
  }

  &__desc {
    color: $gray;
    margin-bottom: 8px;
    display: block;
  }

  &__num {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__status {
    display: inline-block;
    padding: 4.5px 10px;
    color: $white;
    border-radius: 35px;

    &--in {
      background-color: #73db43;
    }

    &--order {
      background-color: #ebb428;
    }
  }
}

.benefits {
  margin-bottom: 20px;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

.info-list {
  display: flex;
  justify-content: space-between;

  &__item {
    background-position: top left;
    background-size: 48px;
    background-repeat: no-repeat;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      @include pseudo;
    }

    &:not(:last-child) {
      margin-right: 55px;
    }
  }

  &__desc {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 8px;
  }

  &__text {
    margin-top: auto;
    font-size: 12px;
    line-height: 1.3;
    color: $gray;
  }
}

.reviews {
  padding-bottom: 30px;

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.review {
  &__video {
    width: 200px;
    height: 135px;
    display: block;
    @include bg;
    position: relative;
    margin-bottom: 16px;

    &:hover {

      &::after,
      &::before {
        transform: scale(1.5);
      }
    }

    &:active {

      &::after,
      &::before {
        transform: scale(0.7);
      }
    }

    &::after,
    &::before {
      @include pseudo;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      transition: all 0.5s;
    }

    &::after {
      width: 25px;
      height: 18px;
      background-image: url("../images/icon/youtube-review.svg");
      @include bg;
    }

    &::before {
      width: 36px;
      height: 29px;
      background-color: $white;
      backdrop-filter: blur(4px);
      border-radius: 6px;
    }
  }

  &__stars {
    margin-bottom: 4px;

    &.jq-ry-container {
      padding: 0;
    }
  }

  &__link {
    display: block;
    margin-bottom: 4px;
  }

  &__name {
    font-weight: 700;
  }

  &__desc {
    line-height: 1.4;
    color: $gray;
  }
}

.purchase {
  padding-bottom: 70px;

  &__inner {
    display: flex;
  }

  &__left {
    max-width: 371px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    margin-right: 40px;

    &::after {
      @include pseudo;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(180deg, rgba($default, 0) 48.41%, $white 99.11%);
    }
  }

  &__img {
    object-fit: cover;
  }

  &__title {
    margin: 30px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px;
  }

  &__item {
    width: 160px;

    &:not(:last-child) {
      margin-right: 0;
    }

    &--btn {
      border: 1px dashed $red;
      border-radius: 9px;
      padding-top: 0;

      &:hover {
        background-color: $red;
        color: $white;

        .purchase__icon {
          fill: #FFA5A5;
        }
      }
    }
  }

  &__text {
    margin-top: 0;
  }

  &__link {
    text-align: center;
    padding-top: 65px;
    height: 100%;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.2;

    &--btn {
      padding: 0 20px;
    }
  }

  &__icon {
    width: 29px;
    height: 21px;
    fill: #C7CAD1;
  }
}

.overviews {
  padding-bottom: 47px;

  &__title {
    margin-bottom: 25px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__item {
    max-width: 308px;
    width: 100%;
  }
}

.overview {
  &__img {
    object-fit: cover;
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
  }

  &__box {
    display: flex;
  }

  &__text {
    font-size: 12px;
    line-height: 1.3;
    color: $gray;

    &:not(:last-child){
      padding-right: 16px;
      margin-right: 12px;
      position: relative;

      &::after{
        @include pseudo;
        right: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        height: 4px;
        background-color: $gray;
        border-radius: 50%;
        margin: auto 0;
      }
    }
  }
}

.footer {
  padding: 35px 0;

  &__blockquote {
    line-height: 1.7;
    margin-bottom: 10px;
  }

  &__info {
    max-width: 350px;
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    color: $gray;
    margin-right: 50px;
  }

  &__text {
    display: block;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 18px;
  }

  &__address {
    line-height: 1.7;
    padding-left: 30px;
    position: relative;

    &::before {
      @include pseudo();
      width: 20px;
      height: 20px;
      left: 0;
      background-image: url("../images/icon/map.svg");
      @include bg();
    }
  }
}

.messanger {
  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    line-height: 1.9;
    padding-left: 30px;
    position: relative;

    &::before {
      @include pseudo();
      width: 21px;
      height: 21px;
      left: 0;
      background-image: url("../images/icon/messanger.svg");
      @include bg();
    }
  }
}

.email {
  color: $red;
  display: block;
  padding-left: 30px;
  position: relative;

  &::before {
    @include pseudo();
    width: 21px;
    height: 21px;
    left: 0;
    background-image: url("../images/icon/email.svg");
    @include bg();
  }
}