.communication {
  display: flex;
  flex-wrap: wrap;
  max-width: 45%;

  @include r($lg) {
    display: block;
    max-width: 100%;
  }

  &__list {
    color: #8b8b8b;
    margin: 0 70px 10px 0;

    @include r($xl) {
      margin: 0 0 10px 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    @include r($md) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    line-height: 1.9;
    padding-left: 30px;
    position: relative;

    &::before {
      @include pseudo();
      width: 21px;
      height: 21px;
      left: 0;
      background-image: url("../images/icon/messanger.svg");
      @include bg();
    }

    @include r($md) {
      padding: 11px 0 11px 30px;
      font-size: 18px;

      &::before {
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
  }

  &__email {
    color: $red;
    display: block;
    padding-left: 30px;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;

    @include r($xl) {
      width: 100%;
    }

    @include r($md) {
      padding: 11px 0 11px 30px;
      font-size: 18px;
    }

    &::before {
      @include pseudo();
      width: 21px;
      height: 21px;
      left: 0;
      background-image: url("../images/icon/email.svg");
      @include bg();
    }
  }
}