.feedback {
  position: relative;

  @include r($lg){
    padding-top: 130px;
  }

  &__inner {
    width: 100%;
    position: absolute;
    top: 58px;
    left: 0;

    @include r($lg) {
      top: 0;
    }
  }

  &__map {
    position: relative;
    object-fit: cover;
    object-position: 75%;

    @include r($lg) {
      object-position: 86%;
      height: 520px;
    }
  }

  &__form {
    box-shadow: 0px 9px 34px rgba(58, 68, 83, 0.24);
    border-radius: 6px;
    padding: 24px;
    max-width: 390px;
    background-color: $white;
    width: 100%;

    @include r($lg) {
      padding: 24px 15px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__lable {
    display: block;
    font-size: 13px;
    margin-bottom: 9px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background-color: #F1F1F1;
    border-radius: 2px;
    margin-bottom: 16px;

    &::placeholder {
      font-size: 13px;
      line-height: 1.2;
      color: #7A7A7A;
    }
  }

  &__btn {
    margin-top: 8px;
    width: 100%;
    padding: 12px;
    text-align: center;
    line-height: 1.4;
    color: $white;
    background-color: $red;
    border-radius: 4px;

    @include r($sm) {
      font-size: 18px;
    }
  }
}