.search {
  max-width: 1000px;
  width: 100%;
  padding: 24px;
  background-color: $white;
  box-shadow: 0px 9px 34px rgba(58, 68, 83, 0.24);
  border-radius: 6px;
  z-index: 1;
  position: relative;

  &__form {
    position: relative;
    overflow: hidden;
  }

  &__top {
    display: flex;
    margin-bottom: 24px;

    @include r($sm) {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__lable {
    display: block;
    margin: 0 32px 0 26px;

    @include r($sm) {
      margin: 0 0 24px 26px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    padding-left: 26px;

    &:checked+.search__checkbox {
      background-image: url("../images/icon/tick.svg");
      @include bg(center, 12px);
    }
  }

  &__checkbox {
    margin-left: -26px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $red;
    border-radius: 4px;
  }

  &__inner {
    display: flex;
    align-items: end;
    margin-bottom: 24px;
    flex-wrap: wrap;

    // @include r($xxl) {
    //   display: block;
    // }
  }

  &__filters {
    display: flex;
    margin-right: 16px;

    @include r($xxl) {
      width: 100%;
      margin: 0 0 24px 0;
      justify-content: space-between;
    }

    @include r($xl) {
      flex-wrap: wrap;
      
      margin: 0;
    }
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 16px;
    }

    @include r($xl) {
      margin-bottom: 24px;
      width: 45%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    @include r($sm) {
      width: 100%;
    }
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
  }

  &__select {
    display: block;

    .jq-selectbox select,
    .jq-select-multiple select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      opacity: 0;
    }

    .jq-selectbox__select {
      background-color: #f1f1f1;
      font-weight: 400;
      height: 32px;
      padding: 8px 16px;
      border-radius: 4px;

      @include r($sm) {
        font-size: 16px;
      }
    }

    .jq-selectbox__trigger {
      border-left: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 100%;
    }

    .jq-selectbox__trigger-arrow {
      border: none;
      width: 10px;
      height: 6px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-image: url("../images/icon/arrow.svg");
      @include bg;
      position: absolute;
    }

    .jq-selectbox__dropdown {
      font-weight: 400;
      position: absolute;
      width: 100%;
      margin: 2px 0 0;
      border-radius: 4px;
      background-color: #f1f1f1;
    }

    .jq-selectbox__dropdown ul {
      max-height: 250px;
    }

    .jq-selectbox__dropdown li {
      padding: 6px 16px;
      white-space: pre-wrap;

      &:hover {
        color: #f7a4a4;
      }
    }

    .jq-selectbox__dropdown .selected {
      background-color: $red;
      color: $white;
    }

    &--technics {
      width: 232px;
    }

    &--company {
      width: 184px;
    }

    &--mark {
      width: 187px;
    }

    &--from {
      margin-right: 6px;
      width: 100px;
    }

    &--to {
      width: 100px;
    }

    &--gear {
      width: 200px;
    }

    &--gearbox {
      width: 170px;
    }

    &--grade {
      width: 170px;
    }

    &--color {
      width: 250px;
    }

    @include r($xl) {

      &--technics,
      &--company,
      &--mark,
      &--gear,
      &--gearbox,
      &--grade,
      &--color {
        width: 100%;
      }

      &--from {
        margin-right: 6px;
        width: 50%;
      }

      &--to {
        width: 50%;
      }
    }

    @include r($sm) {

      &--from,
      &--to {
        width: 100%;
      }

      &--from {
        margin: 0 0 24px 0;
      }
    }
  }
  
  &__filter-inner {
    display: flex;
  
    @include r($sm) {
      display: block;
    }
  }

  &__filter-inner {
    display: flex;

    @include r($sm) {
      display: block;
    }
  }

  &__btn {
    padding: 7px 16px;
    background-color: $red;
    border-radius: 4px;
    color: $white;

    @include r($xl) {
      display: block;
      width: 60%;
      margin: 0 auto;
    }

    @include r($lg) {
      width: 80%;
    }

    @include r($sm) {
      width: 100%;
      font-size: 16px;
      padding: 16px;
      order: 2;
    }
  }

  &__extended {
    overflow: hidden;
    height: 0;
    position: absolute;
    transform: translateY(200%);
    transition: all 0.5s;

    &--active {
      overflow: auto;
      width: 100%;
      height: auto;
      position: relative;
      transform: translateY(0);
    }

    @include r($sm) {
      margin-bottom: 24px;
    }
  }

  &__extended-filters {
    display: flex;
    justify-content: space-around;
    margin: 24px 0;
    flex-wrap: wrap;

    @include r($xl) {
      margin: 24px 0 8px;
      justify-content: space-between;
    }
    
    @include r($sm) {
      margin: 0;
    }
  }

  &__extended-list {
    display: flex;
    justify-content: space-around;

    @include r($xl) {
      display: block;
    }
  }

  &__extended-item {
    max-width: 350px;
    width: 100%;

    @include r($xxl) {
      max-width: 320px;
    }

    @include r($xl) {
      max-width: 80%;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @include r($sm) {
      max-width: 100%;
    }
  }

  &__range-slider {
    font-weight: 400;
    display: block;
    font-size: 13px;
    margin-bottom: 16px;
    text-align: center;
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    @include r($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__to {
    text-align: end;
  }

  &__from {
    @include r($sm) {
      margin-bottom: 16px;
    }
  }

  &__to, &__from {
    max-width: 200px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;

    @include r($xl) {
      max-width: 250px;
    }

    @include r($sm) {
      max-width: 350px;
      text-align: center;
    }
  }

  &__to-input, &__from-input {
    padding: 8px;
    width: 75%;
    background-color: #f1f1f1;
    border-radius: 4px;
    font-weight: 400;
    margin-left: 10px;
    font-size: 14px;

    @include r($sm) {
      font-size: 16px;
    }
  }

  .irs {
    margin-top: 10px;

    @include r($sm) {
      display: none;
    }
  }

  .irs-grid-text {
    font-size: 11px;
    color: $gray;
  }

  &__color-span {
    display: block;
    background-size: 20px;
  }

  &__result {
    font-size: 13px;
    color: #808080;
    padding: 10px 0;
  }

  &__result-num {
    margin-left: 6px;
    color: $red;
  }

  &__extended-btn {
    padding: 8px 40px 8px 16px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;

    &::after {
      @include pseudo;
      width: 10px;
      height: 6px;
      top: 0;
      bottom: 0;
      right: 20px;
      background-image: url("../images/icon/arrow.svg");
      @include bg;
      margin: auto 0;
      transition: all 0.5s;
    }

    &--active {
      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: #f7a4a4;
    }

    @include r($sm) {
      display: block;
      width: 100%;
      font-size: 16px;
      position: relative;
      padding: 15px 30px 15px 16px;
      margin-bottom: 24px;
      order: 1;

      &::after {
        right: 13px;
      }
    }
  }
}