.sidebar {
  width: 200px;
  flex-shrink: 0;
  background-color: #f7f7f9;
  padding: 20px 0;

  @include r($md) {
    display: none;
  }

  &__logo {
    display: block;
    padding: 0 25px;
    margin-bottom: 40px;
  }

  &__menu {
    margin-bottom: 290px;
  }
}