<footer class="footer section">
  <blockquote class="footer__blockquote">
    © Тосэй 2021. Все права защищены
  </blockquote>
  <div class="footer__inner">
    <div class="footer__info">
      <span class="footer__text">
        Продажа грузовой и спецтехники, легковых автомобилей, водной техники. Любая техника из Японии, США,
        Кореи,
        Китая и Сингапура. Авто с аукционов.
      </span>
      <address class="footer__address">
        Владивосток, ул. Фадеева, д. 47, строение 1
      </address>
    </div>
    <div class="communication footer__box">
      <ul class="communication__list footer__messanger">
        <li class="communication__item footer__item">
          <a class="communication__link footer__link" href="tel:+79841981118">
            +7 (984) 198-11-18
          </a>
        </li>
        <li class="communication__item footer__item">
          <a class="communication__link footer__link" href="tel:+79841977778">
            +7 (984) 197-77-78
          </a>
        </li>
      </ul>
      <a class="communication__email footer__email" href="mailto:spec@tosei.ru">spec@tosei.ru</a>
    </div>
  </div>
</footer>