<footer class="footer">
  <div class="container">
    <blockquote class="footer__blockquote">
      © AvSale 2022. Все права защищены
    </blockquote>
    <div class="footer__inner">
      <div class="footer__info">
        <span class="footer__text">
          Продажа грузовой и спецтехники, легковых автомобилей, водной техники. Любая техника из Японии, США,
          Кореи, Китая и Сингапура. Авто с аукционов.
        </span>
        <address class="footer__address">
          Харьков, ул. Фадеева, д. 47, строение 1
        </address>
      </div>
      <div class="communication footer__box">
        <ul class="communication__list footer__messanger">
          <li class="communication__item footer__item">
            <a class="communication__link footer__link" href="https://wa.me/380999999995">
              +38(099) 999-99-95
            </a>
          </li>
          <li class="communication__item footer__item">
            <a class="communication__link footer__link" href="https://wa.me/380999999996">
              +38(099) 999-99-96
            </a>
          </li>
        </ul>
        <a class="communication__email footer__email" href="mailto:avsale@gmail.com">avsale@gmail.com</a>
      </div>
    </div>
  </div>
</footer>