<header class="header">
  <nav class="header__nav">
    <a class="logo" href="#" target="_blank">
      <img class="logo__img" src="images/icon/logo.svg" alt="логотип" width="159" height="41">
    </a>
    <div class="header__burger-btn"></div>
    <div class="burger">
      <ul class="menu burger__menu">
        <li class="menu__item">
          <a class="menu__link" href="#" target="_blank">Услуги</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#" target="_blank">Каталог техники</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#" target="_blank">Аукционы</a>
        </li>
        <li class="menu__item menu__info">
          <button class="menu__link menu__info-btn" type="button">
            <span>Информация</span>
          </button>
          <ul class="menu__info-items">
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Вопрос ответ
              </a>
            </li>
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Как читать аукционный лист
              </a>
            </li>
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Распилы, Карпилы, Конструкторы
              </a>
            </li>
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Оформление распилов/конструкторов
              </a>
            </li>
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Определение даты выпуска
              </a>
            </li>
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Расписание судов
              </a>
            </li>
            <li class="menu__info-item">
              <a class="menu__info-link" href="#" target="_blank">
                Адреса и контакты CBX
              </a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#" target="_blank">О нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#" target="_blank">Отзывы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#" target="_blank">Контакты</a>
        </li>
      </ul>
      <div class="phone burger__phone">
        <a class="phone__num burger__num" href="tel:88002507807">8 800 250-78-07</a>
        <span class="phone__desc">Бесплатный звонок по всей России</span>
      </div>
      <ul class="social">
        <li class="social__item">
          <a class="social__link" target="_blank" href="https://web.whatsapp.com/"
            style="background-image: url('images/icon/watsapp.svg')" aria-label="ссылка на whatsapp"></a>
        </li>
        <li class="social__item">
          <a class="social__link" target="_blank" href="https://www.instagram.com/"
            style="background-image: url('images/icon/instagramm.svg')" aria-label="ссылка на instagram"></a>
        </li>
        <li class="social__item">
          <a class="social__link" target="_blank" href="https://www.youtube.com/"
            style="background-image: url('images/icon/youtube.svg')" aria-label="ссылка на youtube"></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header__inner">
    <span class="header__text">
      Автомобили из японии c </br>доставкой по всей России
    </span>
    <div class="phone">
      <a class="phone__num" href="tel:88002507807">8 800 250-78-07</a>
      <span class="phohe__desc">Бесплатный звонок по всей России</span>
    </div>
  </div>
</header>