<div class="search">
  <form class="search__form" action="">
    <div class="search__top">
      <label class="search__lable">
        <input class="search__input" type="checkbox" checked>
        <span class="search__checkbox"></span>
        Полная пошлина
      </label>
      <label class="search__lable">
        <input class="search__input" type="checkbox" checked>
        <span class="search__checkbox"></span>
        Распил или конструктор
      </label>
    </div>
    <div class="search__inner">
      <ul class="search__filters">
        <li class="search__filter">
          <span class="search__title">
            Тип техники
          </span>
          <select class="search__select search__select--technics" name="type">
            <option value="" selected>Не выбрано</option>
            <option value="">Седан</option>
            <option value="">Внедорожник</option>
            <option value="">Микроавтобус</option>
            <option value="">Хэтчбек</option>
            <option value="">Универсал</option>
            <option value="">Лифтбэк</option>
            <option value="">Купе</option>
            <option value="">Кабриолет</option>
            <option value="">Лимузин</option>
            <option value="">Фургон</option>
            <option value="">Автобус</option>
          </select>
        </li>
        <li class="search__filter">
          <span class="search__title">
            Производитель
          </span>
          <select class="search__select search__select--company" name="manufacturer">
            <option value="" selected>Не выбрано</option>
            <option value="">Toyota Motor Corp.</option>
            <option value="">Компания Honda</option>
            <option value="">Альянс Renault-Nissan-Mitsubishi</option>
          </select>
        </li>
        <li class="search__filter">
          <span class="search__title">
            Марка
          </span>
          <select class="search__select search__select--mark" name="mark">
            <option value="" selected>Не выбрано</option>
            <option value="">Toyota</option>
            <option value="">Mitsubishi</option>
            <option value="">Honda</option>
            <option value="">Mazda</option>
            <option value="">Suzuki</option>
          </select>
        </li>
        <li class="search__filter">
          <span class="search__title">
            Год выпуска
          </span>
          <div class="search__filter-inner">
            <select class="search__select search__select--from" name="year-from">
              <option value="" selected>от</option>
              <option value="">2015</option>
              <option value="">2016</option>
              <option value="">2017</option>
              <option value="">2018</option>
              <option value="">2019</option>
              <option value="">2020</option>
              <option value="">2021</option>
            </select>
            <select class="search__select search__select--to" name="year-to">
              <option value="" selected>до</option>
              <option value="">2015</option>
              <option value="">2016</option>
              <option value="">2017</option>
              <option value="">2018</option>
              <option value="">2019</option>
              <option value="">2020</option>
              <option value="">2021</option>
            </select>
          </div>
        </li>
      </ul>
      <button class="search__btn" type="submit">Найти</button>
    </div>
    <div class="search__bottom">
      <div class="search__result">
        Автомобилей в наличии:
        <span class="search__result-num">256</span>
      </div>
      <button class="search__expanded" type="button">Расширенный поиск</button>
    </div>
  </form>
</div>